div {
  /*border: 1px solid orangered;*/
}

#party,
#name {
  font-weight: bold;
}

.voter {
  border-radius: 10%;
  color: white;
  background-color: #FF9626;
}

.voter-me {
  border-radius: 10%;
  color: #FF9626;
  background-color: black;
}
